/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

/*Global Styles*/
body {
    overflow-x: hidden;
    margin: 0;
    padding: auto;
  }

  html, body {
    overflow-x: hidden;
  }
  body {
    position: relative
  }

  .asterisk {
    color: red;
  }
  
  /* Navbar styles*/
  
  .navbar .navbar-brand img {
      height: 147px;
      width: 106px;
  }
  
  .navbar .navbar-nav .nav-item .nav-link {
      color: #002080;
      font-size: 22px;
      font-weight: bold;
      margin-right: 15px;
  }
  
  .navbar .navbar-nav .nav-item .nav-link:hover {
      color: #39c5c5;
      transform: scale(1.2);
      transition: all .5s ease-in-out;
  }
  
  /* Container holding the image and the text */
  .container-fluid {
      position: relative;
      text-align: center;
      color: white;
      width: 100%;
      margin: 0;
      padding: 0;
      height: 100vh;
    }

    .box{
        position:relative;
        background-image: url('/img/IMG_20200112_145356.jpg');
        height: 100vh;
        background-size: cover;
        background-position: center;
      }
      
      .img-title{
        position: absolute;
        color: #fff;
        text-align: center;
        left: 0;
        right: 0;
        top: 38%;
        font-size: 62px;
        font-family: 'Roboto', cursive;
        text-shadow: 3px 3px #000;
      }

      .img-title .btn {
          border-radius: 20px;
          width: 180px;
          height: 45px;
          font-size: 16px;
      }

      #events {
          width: 90%;
          margin: auto; 
          margin-top: 5%;
          
      }

      #events h1 {
          text-align: center;
          font-family: 'Montserrat', sans-serif;
          font-size: 48px;
          margin-bottom: 3%;
      }

      #events .card h1 {
        font-size: 22px;
      }

      #events h3, #events h5 {
          font-family: 'Montserrat', sans-serif;
          font-size: 18px;
      }

      #events h5 {
          color: #5df5f5;
          line-height: 1.4;
      }

      #events .card-deck {
          width: 100%;
          margin: auto;
          margin-top: 2%;
      }

    #events .card-body {
        background-color: #252525;
        border: none;
        color: #fff;
    }

    #events .card .btn {
        width: 70%;
        margin: 3%;
        font-size: 18px;
    }

    #events .card img {
        background-color: #fff;
        width: 40%;
        margin: auto;
    }

    #news {
        margin-top: 5%;
        margin-bottom: 5%;
        border-top: 1px solid #002080;
    }

    #news h1 {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 48px;
        padding-top: 3%;
    }

    #news .media {
        width: 90%;
        margin: auto;
        border-bottom: 2px solid rgb(212, 212, 212);
    }

    #news .media h5 {
        font-size: 28px;
        padding-top: 50px;
    }

    #news .media p {
        font-size: 20px;
    }

  
    //Index Upcoming Events
    

    //About Page

    #about {
      width: 100%;
      margin: auto;
      text-align: center;
      margin-bottom: 5%;
    }

    #about #tagline {
      width: 100%;
      padding-top: 5%;
      padding-bottom: 5%;
    }

    #about #tagline p {
      padding-top: 2%;
      width: 60%;
      margin: auto;
      text-align: center;
      

    }

    #about-images {
      background-image: url('/img/cleanup.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 65vh;
      width: 100%;
    }

    #about-img {
      width: 100%;
    }

    #about-img img {
      height: 600px;
    }

    #about h1 {
      font-size: 48px;
      font-weight: bolder;
    }

    #about p {
      font-size: 32px;
      font-weight: bolder;
    }

    #about-main {
      max-height: 50vh;
      margin-top: 5%;
    }

    #about-filler {
      height: 35vh;
    }

    #about-filler h1 {
      padding-top: 7%;
    }

    #about-projects {
      width: 95%;
      margin: auto;
    }

    #about-projects .card img {
      width: auto;
      height: 300px;
    }

    #about-projects .card h1 {
      font-size: 30px;
      color: #000;
    }

    #about-projects .card p {
      color: rgb(34, 34, 34);
      font-family: sans-serif;
      font-size: 14px;
    }

    #about-team {
      width: 90%;
      margin: auto;
      margin-top: 5%;
    }

    #about-team h1 {
      margin-bottom: 3%;
    }
  
    //Events pages 
  
    //Events Page
    #events-show {
      width: 70%;
      margin: auto;
      margin-top: 5%;
      margin-bottom: 5%;
    }

    #event-search {
      width: 100%;
      margin: auto;
      margin-bottom: 3%;
    }

    #event-search label {
      font-size: 16px;
      font-weight: bold;
      margin-left: 1%;
    }

    #news-page {
      margin-top: 5%;
      margin-bottom: 5%;
  }

  #news-page h1 {
      text-align: center;
      font-family: 'Montserrat', sans-serif;
      font-size: 48px;
      padding-top: 3%;
  }

  #news-page .media {
      width: 90%;
      margin: auto;
      border-bottom: 2px solid rgb(212, 212, 212);
  }

  #news-page .media h5 {
      font-size: 28px;
      padding-top: 50px;
  }

  #news-page .media p {
      font-size: 20px;
  }

  #news-search {
    width: 50%;
    margin: auto;
  }

  #news-search label {
    font-size: 16px;
    font-weight: bold;
  }

    //Contact Us Page 
    #contact-us {
      width: 70%;
      margin: auto;
      margin-top: 5%;
      margin-bottom: 5%;
    }

    #contact-form {
      width: 90%;
      margin: auto;
      margin-top: 3%;
      margin-bottom: 2%;
    }

    #contact-us h1 {
      font-family: 'Montserrat', sans-serif;
    }

    #contact-us .card {
      margin-top: 2%;
    }

    #contact-form label {
      font-size: 16px;
    }

    #contact-form .btn {
      width: 12%;
      font-size: 16px;
    }

    #contact-us .card .card-header {
      font-size: 22px;
    }

    #login {
      margin-top: 5%;
      margin-bottom: 5%;
    }

    #login .btn-primary {
      width: 100%;
      font-size: 18px;
      margin-bottom: 5%;
    }

    #login .login-actions a{
      font-size: 14px;
    }

    #register {
      margin-top: 5%;
      margin-bottom: 5%;
    }

    #register form {
      width:80%;
      margin: auto;
    }

    #register h2 {
      margin-top: 5%;
      font-weight: bolder;
    }

    #register .form-check {
      width: 55%;
      margin: auto;
    }

    #register .g-recaptcha {
      display: inline-block;
    }


    #register .btn-primary {
      width: 50%;
      font-size: 18px;
      margin-top: 2%;
      margin-bottom: 5%;
      border-radius: 30px;
    }


    //Admin Pages

    //Admin Index

    #sidenav {
        background-color: #252525;
        width: auto;
    }

    #sidenav .logo {
      text-align: center;
    }

    #sidenav .logo img{
      height: 210px;
      width: 160px;
      margin-left: -4%;
    }

    #sidenav .title {
        color: #fff;
        font-size: 32px;
    }

    #sidenav .option {
        height: 20%;
        margin-bottom: 6%;
        margin-left: 10%;
        margin-right: 10%;
        padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 30px;
      width: 90%;
      margin: auto;
    }

    #sidenav .option:hover {
        background-color: #2b8be6;
    }

    #sidenav .divider {
        width: 90%;
        margin: auto;
        height: 1px;
        border-bottom: 1px solid #c7c7c7;
      }

    #sidenav .option img {
        height: 45%;
        width: 45%;
    }

    #sidenav h5 {
        color: #fff;
    }

    #sidenav h6 {
        display: none;
    }

    #sidenav a {
        color: #fff;
        text-decoration: none;
    }

    #sidenav .label {
        display: none;
    }

    #test {
      width: 100%;
      background-color: #fff;
      height: 3%;
    }

    #test .navbar {
      background: #fff !important;
      border-bottom: 3px solid #d3d3d3;
    }

    #test .navbar-toggler {
      margin-left: 5%;
    }

    #dashboard {
      margin-top: 3%;
    }

    #dashboard h1 {
      margin-left: 4%;
      margin-top: 2%;
      margin-bottom: 2%;
    }

    #dashboard .card p {
      font-size: 16px;
    }

    #dashboard .card h1 {
      text-align: right;
      font-weight: bolder;
    }

    #dashboard .card-deck {
      margin-bottom: 5%;
    }

    #dashboard .card {
      box-shadow: 10px 10px 5px #aaaaaa;
    }

    #dashboard .card img {
      height: 80%;
      width: auto;
      margin-top: 1%;
    }

    .total {
      font-size: 62px;
    }

    #mobile-nav {
        display: none;
    }

    #profile {
      width: 100%;
      margin: 0 auto;
    }

    #profile .card {
      width: 90%;
      margin: auto;
    }

    #manage-users {
      text-align: center;
      width: 100%;
      margin: 0 auto;
      margin-top: 5%;
    }

    #manage-users .card {
      width: 90%;
      text-align: left;
      font-size: 16px;
      margin: auto;
    }

    #manage-users .table > thead > tr > th {
      font-size: 20px;
    }

    #manage-users .table > tbody > tr > td {
        font-weight: bolder;
        font-size: 16px;
    }

    #manage-users .render {
      margin-left: 4%;
      margin-top: 4%;
    }

    #action-buttons .btn {
      margin-left: 10px;
    }

    #inbox-display {
      margin-top: 3%;
    }

    .list-group a {
      text-decoration: none;
      color: #000;
    }

    .list-group p {
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
    }

    .img-caption {
      display: none;
    }

    .action-img:hover {
      background: #D3D3D3;
      border-radius: 30px;
    }

    .message-by-contact {
      border-bottom: 1px solid #000;
    }

    .message-by-contact:hover {
      background-color: #f8f8f8;
    }

    .table-resposnive {
      max-height: 30px;
    }

    #my-events .card-deck {
      width: 70%;
      margin: auto;
      margin-top: 2%;
  }

#my-events .card-body {
    background-color: #252525;
    border: none;
    color: #fff;
}

#my-events .card {
    width: 40%;
    margin: 3%;
    font-size: 18px;
}

#my-events .card img {
    background-color: #fff;
    width: 40%;
    margin: auto;
}
  
    //Footer styles*/
  footer {
      background: #191919;
  }
  
  footer .font-weight-bold {
    color: #fff;
  }
  
  footer p {
    color: #fff;
  }
  
  footer .list-unstyled li a {
    text-decoration: none;
    color: #fff;
  }
  
  footer .list-unstyled li a:hover {
    color: #5df5f5;
  }
  
  footer .mb-1 {
    color: #fff;
    padding-top: 20%;
  }
  
  footer .footer-copyright {
    color: #fff;
    border-top: 1px solid #fff;
    background: #111;
  }
  
  footer .subscribe {
    border-top: 1px solid #fff;
    padding-bottom: 3%;
  }
  
  footer #subscribe-form {
    width: 40%;
    margin: auto;
  }

  #dashboard {
    height: 48vh;
  }

  input[disabled] {
    cursor: not-allowed;
    opacity: .6;
    background: red;
  }

  @media (max-width: 321px) {

    #manage-users {
        margin-left: -5%;
    }
    
    #manage-users .table {
        margin-top: 15%;
    }

    #dashboard {
        margin-left: -20%;
    }
  }

  @media (max-width: 425px) { 
      
    .box {
        height: 50vh;
    }

    .img-title{
        top: 10%;
        text-align: center;
      }

      .display-4 {
          font-size: 48px;
      }

      .navbar {
          margin: 0 auto;
      }

      .navbar .navbar-brand img {
       width: 93px;
       height: 120px;
      }

      .img-title .btn {
          width: 120px;
          font-size: 12px;
      }

      #events {
          text-align: center;
          margin: auto;
          margin-top: 20%;
          
      }

      #events .card {
          margin-bottom: 20%;
          margin: auto;
      }

      #events .col .mb-4 .card .card-text {
        width: 80%;
        margin: auto;
      }

      #events .card-body {
          margin-left: -8%;
          margin-right: -8%;
      }

      #news {
          margin-bottom: 12%;
      }

      #news .media img {
          display: none;
      }

      #news .media  {
          text-align: center;
          font-weight: bold;
      }

      #news .media h5 {
        font-size: 42px;
      }

      #about h1 {
        font-size: 32px;
      }

      #about p {
        font-size: 24px;
      }

      #about #tagline p {
        width: 90%;
      }

      #about-team .card h1 {
        font-size: 18px;
      }

      #about-team .card p {
        font-size: 14px;
      }

    #manage-users .table {
        margin-left: -3%;
        margin-top: 17%;
    }

    #manage-users .table > tbody > tr > td {
        font-size: 16px;
   }

   #news-page h1 {
     margin-top: 12%;
   }

   #news-page .media img {
    display: none;
}

#news-page .media  {
    text-align: center;
    font-weight: bold;
}

#news-page .media h5 {
  font-size: 42px;
}

#news-search {
  width: 90%;
  margin: auto;
  margin-top: 12%;
}

#contact-us {
  margin-top: 15%;
}

#contact-us h1 {
  font-size: 22px;
}

#contact-form .btn {
  width: 100%;
}

#login {
  margin-top: 12%;
  margin-bottom: 12%;
}

#login .btn {
  width: 100%;
}

#register-form .col-form-label {
  display: none;
}

#register-form .btn {
  width: 100%;
}

#register-form .form-control {
  margin-bottom: 10%;
}

#dashboard .card-deck .card {
  font-size: 22px;
  height: 300px;
  text-align: center;
}

#dashboard .widget-img img {
  height: 100%;
  width: 30%;
  margin-top: 3%;
}

#dashboard .nav {
  margin-top: 25%;
  display: flex;
}

#dashboard h1 {
  margin-left: 4%;
  margin-top: 7%;
  margin-bottom: 5%;
}
}

  // Small devices (landscape phones, less than 768px)
@media (max-width: 768px) { 

    #sidenav {
        display: none;
    }

    #mobile-nav {
        display: inline;
        
    }

    #mobile-nav .navbar {
        z-index: 9999;
        width: 1000%;
    }

    #mobile-nav .navbar img {
        margin-left: 5%;
        margin-bottom: 7%;
    }

    #mobile-nav .navbar a {
        color: #fff;
        margin-left: 6%;
    }

    #mobile-nav .navbar li {
        margin-top: 5%;
        margin-bottom: 5%;
        border-bottom: 1px solid #f8f8f8;
    }

    #test {
        display: none;
    }

    #manage-users {
        margin-left: -15%;
        margin-top: 10%;
    }

    #manage-users .table .btn {
        width: 150%;
        margin-bottom: 10%;
    }

    #manage-users .table {
        width: 120%;
    }

    #manage-users .table > tbody > tr > td {
        vertical-align: middle;
        font-size: 16px;
        
   }

   footer #subscribe-form {
    width: 80%;
    margin: auto;
  }

  footer #subscribe-form .btn {
    margin-top: 5%;
  }

 }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 

 }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { 
    #sidenav .option img{
        height: 30%;
        width: 30%;
    }

    #sidenav .option {
        padding-left: 0%;
        margin-top: 15%;
        margin-bottom: 15%;
        width: 100%;
    }

    #sidenav {
        overflow-x: hidden;
        text-align: center;
    }

    #sidenav .logo {
        text-align: center;
    }

    #sidenav .logo img {
      height: 127px;
      width: 100px;
    }

    #sidenav .title {
        display: none;
    }

    #sidenav .divider {
        display: none;
    }

    #sidenav .section {
        font-size: 18px;
        text-align: center;
        font-weight: bold;
    }

    #sidenav .label {
        display: inline-block;
        margin-top: 5%;
        font-size: 18px;
        text-align: center;
    }

    #sidenav span {
        display: none;
    }

    #sidenav .option-label {
        width: 53%;
        margin: auto;
        font-size: 20px;
        text-align: center;
    }

    #manage-users {
        margin-left: -10%;
        margin-top: 10%;
    }

    #manage-users .table {
        width: 50%;
        margin-left: 10%;
    }

    #manage-users .table .btn {
        width: 100%;
        margin-bottom: 10%;
    }

    #manage-users .table > tbody > tr > td {
        vertical-align: middle;
        font-size: 16px;
        
   }

   #login .btn {
    width: 71%;
  }
 }
