/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

/*Global Styles*/
body {
    overflow-x: hidden;
    margin: 0;
    padding: auto;
  }

  ::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    background-color: #d7d7d7;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(178, 178, 178, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(178, 178, 178, 0.8);
}

  html, body {
    overflow-x: hidden;
  }
  body {
    position: relative;
  }

  .asterisk {
    color: red;
  }

  /* Navbar styles*/

  .navbar .navbar-brand img {
      height: 97px;
      width: 66px;
  }

  .navbar .navbar-nav .nav-item .nav-link {
      color: #002080;
      font-size: 22px;
      font-weight: bold;
      margin-right: 15px;
  }

  .navbar .navbar-nav .nav-item .nav-link:hover {
      color: #39c5c5;
      transform: scale(1.2);
      transition: all .5s ease-in-out;
  }

  /* Container holding the image and the text */
  .container-fluid {
      position: relative;
      text-align: center;
      color: white;
      width: 100%;
      margin: 0;
      padding: 0;
      height: 100vh;
    }

    .box{
        position:relative;
        background-image: url('/img/IMG_2739.jpg');
        height: 85vh;
        width: auto;
        background-size: cover;
        background-position: center bottom;
      }

      .display-4 {
        font-size: 56px;
        margin-top: 2%;
    }

    .center {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      .img-title{
        position: absolute;
        color: #fff;
        text-align: center;
        left: 0;
        right: 0;
        top: 22%;
        font-size: 55px;
        font-family: 'Roboto', cursive;
        text-shadow: 3px 3px #000;
      }

      .event_image:hover {
        transform: scale(1.2);
        transition: 1s;
      }

      .img-title .btn {
          border-radius: 20px;
          width: 180px;
          height: 45px;
          font-size: 14px;
          margin-top: 10%;
      }

      .fd-active {
        background-color: #2b8be6;
        color: #fff;
        height: 30px;
      }

      #events {
          width: 90%;
          margin: auto;
          margin-top: 5%;

      }

      #events h1 {
          text-align: center;
          font-size: 48px;
          margin-bottom: 3%;
      }

      #events .card {
        box-shadow: 10px 10px 5px #aaaaaa;
      }

      #events .card h2 {
        font-size: 26px;
      }

       #events h3, #events h5 {
          font-size: 18px;
      }

      #events h5 {
          color: #5df5f5;
          line-height: 1.4;
      }

      #events .card-deck {
          width: 100%;
          margin: auto;
          margin-top: 2%;
      }

    #events .card-body {
        background-color: #252525;
        border: none;
        color: #fff;
    }

    #events .card .btn {
        width: 70%;
        margin: 3%;
        font-size: 18px;
    }

    #events .card img {
        background-color: #fff;
        width: 40%;
        margin: auto;
    }

    #news {
        margin-top: 5%;
        margin-bottom: 5%;
        border-top: 1px solid #002080;
    }

    #news h1 {
        text-align: center;
        font-size: 48px;
        padding-top: 3%;
    }

    #news .media {
        width: 90%;
        height: 98%;
        margin: auto;
        border-bottom: 2px solid rgb(212, 212, 212);
        background-color: #fff;
        margin-bottom: 2%;
        box-shadow: 10px 10px 5px #aaaaaa;
    }

    #news .media img {
      height: 200px;
      margin: auto;
    }

    #news .media h5 {
        font-size: 28px;
        padding-top: 50px;
    }

    #news .media p {
        font-size: 20px;
    }


    //Index Upcoming Events


    //About Page

    #about {
      width: 100%;
      margin: auto;
      text-align: center;
      margin-bottom: 5%;
    }

    #about #tagline {
      width: 100%;
      padding-top: 5%;
      padding-bottom: 5%;
    }

    #about #tagline p {
      padding-top: 2%;
      width: 60%;
      margin: auto;
      text-align: center;


    }

    #about-images {
      background-image: url('/img/cleanup.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      height: 0;
      background-position: center;
      padding-top: 30%;
    }

    #rs-images {
        width: 100%;
        height: 40%;
      }

    #rs-images img {
        object-fit: contain;
        width: 100%;
        height: 50%;
    }

    #about-img {
      width: 100%;
    }

    #about-img img {
      height: 600px;
      object-fit:contain;
    }

    #about h1 {
      font-size: 48px;
      font-weight: bolder;
    }

    #about p {
      font-size: 32px;
      font-weight: bolder;
    }

    #about-main {
      max-height: 50vh;
      margin-top: 5%;
    }

    #about #tagline .btn {
      font-size: 24px;
      border-radius: 24px;
      margin-top: 2%;
    }

    #about-filler {
      height: 35vh;
    }

    #about-filler h1 {
      padding-top: 7%;
    }

    #about-projects {
      width: 95%;
      margin: auto;
    }

    #about-projects .card {
      box-shadow: 10px 10px 5px #aaaaaa;
    }

    #about-projects .card img {
      width: auto;
      height: 300px;
    }

    #about-projects .card h1 {
      font-size: 30px;
      color: #000;
    }

    #about-projects .card p {
      color: rgb(34, 34, 34);
      font-family: sans-serif;
      font-size: 16px;
    }

    #about-team {
      width: 90%;
      margin: auto;
      margin-top: 5%;
    }

    #about-team h1 {
      margin-bottom: 3%;
    }

    //Events pages

    //Events Page
    #events-show {
      width: 70%;
      margin: auto;
      margin-top: 5%;
      margin-bottom: 5%;
    }

    .show-event-title {
      padding-top: 2%;
      padding-bottom: 2%;
      background-color: #252525;
      color: #fff;
      font-family: 'Montserrat', sans-serif;
    }

    .show-event-info {
      margin-top: 3%;
    }

    .show-event-info .btn {
      width: 40%;
      margin-top: 5%;
      font-size: 28px;
      margin-bottom: 3%;
    }

    #event-search {
      width: 100%;
      margin: auto;
      margin-bottom: 3%;
    }

    #event-search .btn {
      position: absolute;
      width: 100%;
      height: 50%;
      top: 48%;
      left:6%;
    }

    #event-search label {
      font-size: 16px;
      font-weight: bold;
      margin-left: 1%;
    }

    #news-page {
      margin-top: 5%;
      margin-bottom: 5%;
  }

  #news-form {
    margin-bottom: 5%;
  }

  #news-page h1 {
      text-align: center;
      font-size: 48px;
      margin-bottom: 4%;
  }

  #news-page .media {
      width: 92%;
      height: 98%;
      margin: auto;
      border-bottom: 2px solid rgb(212, 212, 212);
      background-color: #fff;
      margin-bottom: 2%;
      box-shadow: 10px 10px 5px #aaaaaa;
  }

  #news-page .media img {
    height: 200px;
    margin: auto;
  }

  #news-page .media h5 {
      font-size: 28px;
      padding-top: 50px;
  }

  #news-page .media p {
      font-size: 20px;
  }

  #news-search {
    width: 90%;
    margin: auto;
    margin-bottom: 3%;
  }

  #news-search .btn {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 48%;
    left:6%;
  }

  #news-search label {
    font-size: 16px;
    font-weight: bold;
  }

    //Contact Us Page
    #contact-us {
      width: 70%;
      margin: auto;
      margin-top: 5%;
      margin-bottom: 5%;
    }

    #contact-form {
      width: 90%;
      margin: auto;
      margin-top: 3%;
      margin-bottom: 2%;
    }

    #contact-us h1 {
      font-family: 'Montserrat', sans-serif;
    }

    #contact-us .card {
      margin-top: 2%;
    }

    #contact-form label {
      font-size: 16px;
    }

    #contact-form .btn {
      width: 12%;
      font-size: 16px;
    }

    #contact-us .card .card-header {
      font-size: 22px;
    }

    #login {
      margin-top: 5%;
      margin-bottom: 5%;
    }

    #login .btn-primary {
      width: 100%;
      font-size: 18px;
      margin-bottom: 5%;
    }

    #login .login-actions a{
      font-size: 14px;
    }

    //Admin Pages
    //Admin Index

    #sidenav {
        background-color: #252525;
        width: auto;
        min-height: 120%;
    }

    #sidenav .logo {
      text-align: center;
    }

    #sidenav .logo img{
      height: 210px;
      width: 160px;
      margin-left: -4%;
    }

    #sidenav .title {
        color: #fff;
        font-size: 32px;
    }

    #sidenav .option {
        height: 20%;
        margin-bottom: 6%;
        margin-left: 10%;
        margin-right: 10%;
        padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 30px;
      width: 90%;
      margin: auto;
    }

    #sidenav .option:hover {
        background-color: #2b8be6;
    }

    #sidenav .divider {
        width: 90%;
        margin: auto;
        height: 1px;
        border-bottom: 1px solid #c7c7c7;
      }

    #sidenav .option img {
        height: 45%;
        width: 45%;
    }

    #sidenav h5 {
        color: #fff;
    }

    #sidenav h6 {
        display: none;
    }

    #sidenav a {
        color: #fff;
        text-decoration: none;
    }

    #sidenav .label {
        display: none;
    }

    #test {
      width: 100%;
      background-color: #fff;
      height: 3%;
    }

    .mob-info {
      display: none;
    }

    #test .navbar {
      background: #fff !important;
      border-bottom: 3px solid #d3d3d3;
    }

    #dashboard {
      margin: auto;
      margin-top: 3%;
    }

    #dashboard h1 {
      margin-left: 4%;
      margin-top: 2%;
      margin-bottom: 2%;
    }

    #dashboard .content {
      width: 92%;
      margin: auto;
    }

    #dashboard .content .row .card {
      margin-right: 4%;
      margin-bottom: 4%;
    }

    #dashboard .charts {
      width: 90%;
      margin: auto;
    }

    #dashboard .charts > .card {
      margin-right: 5%;
    }

    #dashboard .card p {
      font-size: 16px;
    }

    #dashboard .card h1 {
      text-align: right;
      font-weight: bolder;
    }

    #dashboard .card-deck {
      margin-bottom: 5%;
    }

    #dashboard .card {
      box-shadow: 10px 10px 5px #aaaaaa;
    }

    #dashboard .card img {
      max-height: 40px;
      width: auto;
      margin-top: 1%;
    }

    #dashboard .info-header {
      margin-top: 5%;
    }

    .total {
      font-size: 62px;
    }

    #mobile-nav {
        display: none;
    }

    #user-profile {
      margin-top: 5%;
    }

    #user-profile h1 {
      margin-bottom: 3%;
    }

    #user-profile .card {
      box-shadow: 10px 10px 5px #aaaaaa;
      width: 100%;
      margin-bottom: 10%;
    }

    #user-profile .btn {
      margin-top: 2%;
    }

    #profile {
      width: 100%;
      margin: 0 auto;
    }

    #profile .card {
      margin: auto;
    }

    #members {
      margin-top: 5%;
    }

    #members h1 {
      margin-left: 3%;
    }

    #manage-users {
      text-align: center;
      width: 100%;
      margin: 0 auto;
      margin-top: 5%;
    }

    #manage-users .table input[type="text"] {
      width: 100%;
      height: 30px;
    }

    #manage-users .table select {
      width: 100%;
      height: 30px;
    }

    #manage-users .card {
      width: 90%;
      text-align: left;
      font-size: 16px;
      margin: auto;
    }

    #manage-users .table > thead > tr > th {
      font-size: 18px;
    }

    #manage-users .table > tbody > tr > td {
        font-weight: bolder;
        font-size: 16px;
    }

    #manage-users .render {
      margin-left: 4%;
      margin-top: 4%;
    }

    #create-user {
      margin-top: 5%;
    }

    #create-user .card {
      box-shadow: 10px 10px 5px #aaaaaa;
    }

    #edit-user {
      margin-top: 5%;
    }

    #edit-user .card {
      box-shadow: 10px 10px 5px #aaaaaa;
    }

    #manage-events {
      width: 90%;
      margin: auto;
      margin-top: 5%;
    }

    #manage-events .btn {
      width: 100%;
    }

    #create-event {
      width: 90%;
      margin: auto;
      margin-top: 5%;
    }

    #create-event .card {
      box-shadow: 10px 10px 5px #aaaaaa;
    }

    #add-event-form {
      width: 80%;
      margin: auto;
      margin-top: 3%;
      margin-bottom: 3%;
    }

    #action-buttons .btn {
      margin-left: 10px;
    }

    #account-reset {
      margin-top: 5%;
      margin-bottom: 5%;
    }

    #send-link {
      margin-top: 5%;
      margin-bottom: 5%;
    }

    #termsandconditions .modal-body {
      background-color: #dfdfdf;
      max-height: 400px;
      overflow-y: scroll;
    }

    #inbox-display {
      margin-top: 3%;
    }

    #inbox-display .row p {
      padding-top: 12px;
    }

    #inbox-display input {
      min-height: 45px;
      max-height: 45px;
      margin-bottom: 2%;
    }

    #inbox-display .filter-messages {
      min-height: 45px;
      max-height: 45px;
      margin-bottom: 2%;
    }

    #message-reply {
      width: 90%;
      margin: auto;
      margin-top: 5%;
    }

    .list-group a {
      text-decoration: none;
      color: #000;
    }

    .list-group p {
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
    }

    .img-caption {
      display: none;
    }

    .action-img:hover {
      background: #D3D3D3;
      border-radius: 30px;
    }

    .message-by-contact {
      border-bottom: 1px solid #000;
    }

    .message-by-contact:hover {
      background-color: #f8f8f8;
    }

    .table-resposnive {
      max-height: 30px;
    }

    .carousel-inner img {
      object-fit: cover !important;
      height: 450px;
    }

    .news-image-holder {
      display:flex;
      justify-content:center;
    }

    .news-image-holder img {
      max-height: 600px;
      width:auto;
    }

    #policy {
      width: 90%;
      margin: auto;
      margin-top: 5%;
    }

    #policy .card {
      box-shadow: 10px 10px 5px #aaaaaa;
      width: 90%;
    }

    #policy .card h4 {
      font-size: 20px;
    }

    #policy .card img {
      height: 170px;
      width: 65%;
      margin: auto;
      margin-top: 5%;
    }

    #my-events {
      margin-top: 5%;
    }

    #event-edit {
      margin-top: 5%;
    }

    #my-events h1 {
      text-align: center;
      font-family: 'Montserrat', sans-serif;
      font-size: 48px;
      margin-bottom: 3%;
  }

    #my-events .card h1 {
      font-size: 22px;
    }

    #my-events h3, #events h5 {
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
    }

    #my-events h5 {
        color: #5df5f5;
        line-height: 1.4;
    }

    #my-events .card-deck {
        width: 100%;
        margin: auto;
    }

  #my-events .card-body {
      background-color: #252525;
      border: none;
      color: #fff;
  }

  #my-events .card .btn {
      margin-top: 6%;
      width: 100%;
      font-size: 18px;
  }

  #my-events .card img {
      background-color: #fff;
      width: 40%;
      margin: auto;
  }

    //Footer styles*/
  footer {
      background: #191919;
  }

  footer .font-weight-bold {
    color: #fff;
  }

  footer p {
    color: #fff;
  }

  footer .list-unstyled li a {
    text-decoration: none;
    color: #fff;
  }

  footer .list-unstyled li a:hover {
    color: #5df5f5;
  }

  footer .mb-1 {
    color: #fff;
    padding-top: 20%;
  }

  footer img {
    margin-right: 20px;
  }

  footer .footer-copyright {
    color: #fff;
    border-top: 1px solid #fff;
    background: #111;
  }

  footer .subscribe {
    border-top: 1px solid #fff;
    padding-bottom: 3%;
  }

  footer #subscribe-form {
    width: 40%;
    margin: auto;
  }

  footer #subscribe-form input {
    height: 40px;
    text-align: center;
    width: 90%;
    margin: auto;
    margin-bottom: 2%;
  }

  footer #subscribe-form .btn {
    font-size: 18px;
  }

  footer #subscribe-form .col-xl-2 {
    max-height: 38px;
  }

  footer #subscribe-form .captcha {
    width: 44%;
    margin: auto;
    margin-bottom: 2%;
  }

  input[disabled] {
    cursor: not-allowed;
    opacity: .6;
    background: red;
  }

  @media (max-width: 425px) {

    table.mceLayout, textarea.tox-tinymce {
      width: 80% !important;
  }

    .g-recaptcha {
      transform:scale(0.57);
      transform-origin:0 0;
  }

    .box {
        height: 50vh;
    }

      .display-4 {
          font-size: 28px !important;
      }

      .img-title .btn {
          border-radius: 20px;
          width: 180px;
          height: 45px;
          font-size: 14px;
          margin-top: 3% !important;
      }

      .navbar {
          margin: 0 auto;
      }

      .navbar .navbar-brand img {
       width: 93px;
       height: 120px;
      }

      #events {
          text-align: center;
          margin: auto;
          margin-top: 20%;
      }

      #events h1 {
        margin-bottom: 15%;
      }

      #events .card {
          margin: auto;
          margin-bottom: 10%;
      }

      #events .col .mb-4 .card .card-text {
        width: 80%;
        margin: auto;
      }

      #news {
        width: 90%;
        margin: auto;
        margin-bottom: 12%;
      }

      #news .media h5 {
        font-size: 42px;
      }

      #about h1 {
        font-size: 32px;
      }

      #about p {
        font-size: 24px;
      }

      #about #tagline p {
        width: 90%;
      }

      #about-team .card h1 {
        font-size: 18px;
      }

      #about-team .card p {
        font-size: 14px;
      }

    #manage-users {
        margin-top: 25%;
    }

    #manage-users .table > tbody > tr > td {
        font-size: 22px;
   }

   #manage-users .table > tbody > tr > td .btn {
     height: 50px;
     width: 120px;
   }

   #news-page h1 {
     margin-top: 12%;
   }

   #news-page .media img {
}

#news-page .media  {
    text-align: center;
    font-weight: bold;
}

#news-page .media h5 {
  font-size: 42px;
}

#news-search {
  width: 90%;
  margin: auto;
  margin-top: 12%;
}

#contact-us {
  margin-top: 15%;
}

#contact-us h1 {
  font-size: 22px;
}

#contact-form .btn {
  width: 100%;
}

#login {
  margin-top: 12%;
  margin-bottom: 12%;
}

#login .btn {
  width: 100%;
}

#dashboard {
  margin-top: 10%;
}

#dashboard .card {
  font-size: 22px;
  height: auto;
  text-align: center;
}

#dashboard .widget-img img {
  height: 100%;
  width: 30%;
  margin-top: 3%;
}

#dashboard .nav {
  margin-top: 25%;
  display: flex;
}

#dashboard h1 {
  margin-left: 4%;
  margin-top: 7%;
  margin-bottom: 5%;
}

footer .subscribe {
  width: 90%;
  margin: auto;
}
}

  // Small devices (landscape phones, less than 768px)
@media (max-width: 768px) {

  .img-title{
    position: absolute;
    color: #fff;
    text-align: center;
    left: 0;
    right: 0;
    top: 22%;
    font-size: 32px;
    font-family: 'Roboto', cursive;
    text-shadow: 3px 3px #000;
  }

  #news .media img {

}

#news .media  {
  text-align: center;
  font-weight: bold;
}

  .img-title .btn {
    border-radius: 20px;
    width: 120px;
    height: 45px;
    font-size: 12px;
    margin-top: 22%;
}

  .display-4 {
    font-size: 28px;
}

    #manage-users .table > thead > tr > th {
      font-size: 14px;
    }

    #manage-users .table .btn {
        width: 150%;
        margin-bottom: 10%;
    }

    #manage-users .table > tbody > tr > td {
        vertical-align: middle;
        font-size: 18px;

   }

   #manage-users .table .filter-input {
    width: 1000%;
  }

  .mob-info {
    display: block;
  }

  #sidenav .divider {
    display: none;
  }

   footer #subscribe-form {
    width: 80%;
    margin: auto;
  }

  footer #subscribe-form .btn {
    margin-top: 5%;
  }

 }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {

  .display-4 {
    font-size: 40px;
}

  #sidenav {
    display: none;
}

#test {
  display: none;
}

#mobile-nav {
  display: inline;

}

#mobile-nav .navbar {
  z-index: 9999;
  width: 100%;
}

#navbarNav {
width: 5%;
}

#mobile-nav .navbar img {
  margin-left: 5%;
  margin-bottom: 7%;
}

#mobile-nav .navbar a {
  color: #fff;
  margin-left: 6%;
}

#mobile-nav .navbar li {
  margin-top: 5%;
  margin-bottom: 5%;
}

#inbox-display label {
  display: none;
}

#inbox-display input {
  width: 100%;
}

#inbox-display .filter-messages {
  margin-bottom: 10%;
}

#event-search .btn {
  position: static !important;
  height: 100%;
  margin-top: 1%;
 }

 #news-search .btn {
  position: static !important;
  height: 100%;
  margin-top: 1%;
 }

 }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {

  .img-title .btn {
    margin-top: 17%;
}

    #sidenav .option img{
        height: 25%;
        width: 25%;
    }

    #sidenav .option {
        padding-left: 0%;
        margin-top: 15%;
        margin-bottom: 15%;
        width: 100%;
    }

    #sidenav {
        overflow-x: hidden;
        text-align: center;
    }

    #sidenav .logo {
        text-align: center;
    }

    #sidenav .logo img {
      height: 127px;
      width: 100px;
    }

    #sidenav .title {
        display: none;
    }

    #sidenav .divider {
        display: none;
    }

    #sidenav .section {
        font-size: 18px;
        text-align: center;
        font-weight: bold;
    }

    #sidenav .label {
        display: inline-block;
        margin-top: 5%;
        font-size: 18px;
        text-align: center;
    }

    #sidenav span {
        display: none;
    }

    #sidenav .option-label {
        width: 53%;
        margin: auto;
        font-size: 20px;
        text-align: center;
    }

    #manage-users .table {
      width: 100%;
      overflow-x:scroll;
    }


    #manage-users .table .btn {
        width: 100%;
        margin-bottom: 10%;
    }

    #manage-users .table > tbody > tr > td {
        vertical-align: middle;

   }
 }
